<div class="overlay-container">
  <div class="background-image"></div>

  <div class="blur-overlay"></div>

  <div class="login-card">
    <mat-card>
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="Enter your username"
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hiddePassword ? 'password' : 'text'"
            placeholder="Enter your password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hiddePassword = !hiddePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hiddePassword"
          >
            <mat-icon>{{
              hiddePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
        </mat-form-field>
        @if (loading) {
        <div class="spinner">
          <mat-spinner diameter="30px"></mat-spinner>
        </div>
        } @else {
        <div class="login-button">
          <button
            mat-flat-button
            color="primary"
            style="width: 100%"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>
        }
      </form>
    </mat-card>
  </div>
</div>
